@charset "UTF-8";
/*共通の処理*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
  line-height: 1.6;
}
.btn {
  display: block;
  background-color: #cd0224;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  width: 300px;
  margin: 40px auto 0;
  text-align: center;
  font-weight: bold;
}
.btn:hover {
  opacity: 0.7;
  transition: 0.3s;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  height: 70px;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-ttl {
  font-size: 24px;
}
.header-ttl a {
  text-decoration: none;
  color: #000;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
.header-nav-item a {
  text-decoration: none;
  color: #000;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}
/* page-mv */
.page-mv {
  height: 250px;
  background: url(../img/mv.png) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-ttl {
  font-size: 30px;
  color: #fff;
}
/* common-contact */
.common-contact {
  background-color: #f5f6f9;
  padding: 80px 0;
}
.common-contact-inner {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.common-contact-ttl {
  font-size: 30px;
}
.common-contact-txt {
  margin-top: 10px;
}
/* footer */
.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.footer-copyright {
  font-size: 12px;
}
.footer-nav-list {
  display: flex;
}
.footer-nav-item {
  font-size: 12px;
}
.footer-nav-item a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer-nav-item:last-child:after {
  display: none;
}

@media screen and (max-width: 768px) {
  /* header */
  .header-nav {
    display: none;
  }
  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    transition: 0.7s;
    text-align: center;
    background-color: #fff;
  }
  .drawer-nav-list {
    padding-top: 80px;
  }
  .drawer-nav-item {
    list-style-type: none;
    margin-top: 50px;
  }
  .drawer-nav-item a {
    text-decoration: none;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  /* footer */
  .footer-inner {
    display: block;
    text-align: center;
  }
  .footer-copyright {
    margin: 0 auto;
  }
  .footer-nav-list {
    display: block;
  }
  .footer-nav-item {
    width: 100%;
    margin-top: 10px;
  }
  .footer-nav-item:after {
    display: none;
  }
}
