@charset "UTF-8";
/* 共通の処理 */
.section-ttl {
  font-size: 30px;
  text-align: center;
}
.top-blog,
.top-service {
  padding: 80px 0;
  width: 85%;
  margin: 0 auto;
}
/* top-mv */
.top-mv {
  width: 100%;
  height: 80vh;
  background: url(../img/mv.png) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-mv-inner {
  width: 85%;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
}
.top-mv-main-copy {
  font-size: 50px;
  text-align: center;
}
.top-mv-sub-copy {
  font-size: 18px;
  text-align: center;
}
/* top-feature */
.top-feature {
  color: #fff;
  background-color: #222;
  padding: 80px 0;
}
.top-feature-inner {
  width: 85%;
  margin: 0 auto;
}
.top-feature-ttl {
  font-size: 30px;
}
.top-feature-txt {
  margin-top: 20px;
}
/* top-service */
.top-service {
  width: 85%;
  margin: 0 auto;
  padding: 80px 0;
}
.top-service-list {
  display: flex;
  flex-wrap: wrap;
}
.top-service-item {
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}
.top-service-item:nth-of-type(2n) {
  margin-right: 0;
}
.top-service-item-img img {
  width: 100%;
  height: auto;
}
.top-service-item-ttl {
  font-size: 18px;
}
/* top-news */
.top-news {
  padding: 80px 0;
  background-color: #222;
}
.top-news-inner {
  width: 85%;
  margin: 0 auto;
}
.top-news-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-btn {
  display: block;
  text-decoration: none;
  width: 160px;
  color: #fff;
  background-color: #cd0224;
  padding: 7px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.news-btn:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.top-news-ttl {
  font-size: 30px;
  color: #fff;
}
.top-news-list {
  margin-top: 20px;
}
.news-item:not(:first-child) {
  margin-top: 10px;
}
.news-item-date {
  margin-right: 10px;
}
.news-item-link {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 20px;
  display: flex;
}
/* top-blog */
.top-blog-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.top-blog-item {
  width: 32%;
}
.top-blog-item-img img {
  width: 100%;
}
.top-blog-item-date {
  font-size: 14px;
  margin: 5px 20px 0 0;
}
.top-blog-item-ttl {
  font-size: 18px;
}
/* top-company-list */
.top-company-list {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.top-company {
  width: 50%;
  text-align: center;
}
.top-recruit {
  width: 50%;
  text-align: center;
}
.top-company-item-link {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 10;
  width: 100%;
}
.top-company-link {
  background-color: #cd0224;
}
.top-recruit-link {
  background-color: #222;
}
.top-company-link:hover,
.top-recruit-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* header */
  .header-nav {
    display: none;
  }
  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    transition: 0.7s;
    text-align: center;
    background-color: #fff;
  }
  .drawer-nav-list {
    padding-top: 80px;
  }
  .drawer-nav-item {
    list-style-type: none;
    margin-top: 50px;
  }
  .drawer-nav-item a {
    text-decoration: none;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  /* top-news */
  .top-service-item {
    width: 100%;
    margin-right: 0;
  }
  /* top-blog */
  .top-blog-list {
    display: block;
    margin-top: 20px;
  }
  .top-blog-item {
    width: 100%;
  }
}
